.footer-box {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: #002855;
    color: white;

    .contact {
        width: 25vw;

        h5 {
            font-size: 16px;
            margin: 0 5px;
        }
    }
    .copyright {
        width: 25vw;

        h5 {
            font-size: 16px;
        }
    }
    .links {
        width: 25vw;
        display: flex;
        justify-content: flex-end;

        h5 {
            display: inline;
            margin: 0 5px;
            font-size: 30px;
        }
    }
}